@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/lato regular.ttf");
}
@font-face {
  font-family: "Gotham Black";
  src: url("../assets/fonts/gothamBlack.otf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu Mono Bold";
  src: url("../assets/fonts/UbuntuMono-Bold.ttf");
}
.plan__button {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ffbb42;
  color: #ffffff;
  font-size: 0.875em;
  font-family: "Lato", sans-serif;
  border-radius: 0.15rem;
  cursor: pointer;
  box-sizing: border-box;
}

.choose-price {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: start;
  justify-items: center;
  background-color: #e7edf3;
  height: 56.25rem;
}

.choose-price__title {
  margin: 8.125rem 0 0 0;
  color: #394b50;
  font-family: "Gotham Black", sans-serif;
  font-size: 1.875em;
}

.choose-price__title-2 {
  margin: 2px 0 0 0;
  font-weight: lighter;
  color: #75888d;
  font-family: "Lato", sans-serif;
  font-size: 1.125em;
}

.price-plans {
  margin: 3.125rem 0 0 0;
  display: grid;
  grid-auto-flow: column;
  align-content: start;
  align-items: center;
}

.basic-plan, .gold-plan {
  width: 24.25rem;
  height: 27.5425rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0.2rem;
  border-top: 1px solid #ccd5df;
  border-bottom: 1px solid #ccd5df;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}

.plan__info {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  justify-items: center;
}

.basic-plan {
  border-left: 1px solid #ccd5df;
}

.gold-plan {
  border-right: 1px solid #ccd5df;
}

.premium-plan {
  width: 24.6875rem;
  height: 31.3125rem;
  background-color: #709dca;
  box-sizing: border-box;
  border-radius: 0.2rem;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}

.plan__name {
  font-family: "Lato Light", sans-serif;
  font-size: 1.5625em;
  color: #818b95;
}

.plan__price {
  margin-top: 1.5625rem;
  display: grid;
  grid-auto-flow: column;
}

.plan__price-symbol, .plan__price-amount {
  font-family: "Lato", sans-serif;
  color: #ffbb42;
  font-weight: bolder;
  line-height: 90%;
}

.plan__price-symbol {
  font-size: 1.875em;
}

.plan__price-amount {
  font-size: 3.75em;
}

.plan__per-month {
  font-family: "Lato Light", sans-serif;
  font-size: 1.25em;
  font-variant: small-caps;
  color: #818b95;
  line-height: 70%;
}

.plan__accounts, .plan__support, .plan__cloud {
  height: 2.5625rem;
  border-bottom: 1px solid #e2e9f0;
  width: 180%;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 0.8437em;
  color: #b5bbc1;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  padding-top: 0.25rem;
}

.plan__accounts {
  border-top: 1px solid #e2e9f0;
  margin-top: 2.1875rem;
}

.plan__cloud {
  border-bottom: none;
}

.plan__button {
  height: 2.625rem;
  width: 8.25rem;
  margin-top: 1.25rem;
}

.premium-plan .plan__name, .premium-plan .plan__per-month, .premium-plan .plan__price {
  color: #ffffff;
}
.premium-plan .plan__price .plan__price-symbol, .premium-plan .plan__price .plan__price-amount {
  color: #ffffff;
}
.premium-plan .plan__accounts, .premium-plan .plan__support, .premium-plan .plan__cloud {
  border-color: #8eb8e2;
  color: #b8d9f8;
}

/*# sourceMappingURL=Price.css.map */
