@import "../../assets/sundries";


.newsletter {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  justify-items: center;
  height: 72.8125rem;
  background-color: #ffffff;
}

.newsletter__title-1 {
  margin: 6.25rem 0 0 0;
  line-height: 90%;
  font-family: "Gotham Black", sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  color: #394b50;
}

.newsletter__title-2 {
  margin: 0.4375rem 0 0 0;
  line-height: 90%;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #394b50;
}

.newsletter__subscribe {
  margin-top: 2.5rem;
  width: 58.5625rem;
}

.subscribe-form {
  display: grid;
  grid-auto-flow: column;
  align-content: start;
  justify-content: space-between;
}

.subscribe__name, .subscribe__email {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #cbcbcb;
  border-radius: 0.15rem;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  padding-left: 2.8125rem;
  color: #a9a9a9;
}

.subscribe__name {
  height: 2.9375rem;
  width: 19.25rem;
}

.subscribe__email {
  height: 2.9375rem;
  width: 24.25rem;
}

.subscribe__name-wrapper, .subscribe__email-wrapper {
  position: relative;
}

.subscribe__button-wrapper {
  @extend %button-template;
  width: 13.625rem;
  height: 2.9375rem;
}

.subscribe__button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.dotted-map {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  justify-items: center;
  margin-top: 3.3125rem;
  height: 34.4375rem;
  width: 69rem;
  background-image: url("../../assets/img/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bubble {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-items: center;
  margin-top: 2.5rem;
  width: 17.9375rem;
  height: 18.625rem;
  background-image: url("../../assets/img/bubble.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bubble__title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 0.9375rem;
}

.bubble__address {
  margin-top: 0.625rem;
  text-align: center;
  color: #aeb7ba;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.bubble__email {
  color: #ffbb42;
  text-decoration: none;
}

.site-logo-2 {
  height: 3.125rem;
  width: 3.125rem;
  background-image: url("../../assets/img/siteLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 10;
}

.dividing-line {
  margin: 3.4375rem 0 0 0;
  width: 70%;
  border-top: none;
  border-bottom: 1px solid #e3e7ec;
}

.bottom-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 46.625rem;
  padding: 0 0 0 0;
  margin: 4.3125rem 0 0 0;
  font-size: 0.8125rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.bottom-nav__item {
  list-style-type: none;
}

.bottom-nav__item a {
  text-decoration: none;
  color: #394b50;
}

.bottom-nav__item a:hover {
  color: #2a3336;
}

.bottom-phone {
  display: block;
  margin-top: 1.625rem;
  color: #394b50;
  font-size: 1.4062rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.bottom-phone__icon {
  font-size: 1.125rem;
}

.social-networks {
  display: grid;
  grid-auto-flow: column;
  align-content: start;
  justify-content: space-between;
  width: 7.375rem;
  margin-top: 1.25rem;
  font-size: 1.125rem;
}

.social-network {
  cursor: pointer;
  text-decoration: none;
  color: #709dca;
}