@import "../../assets/sundries";


.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 39.0625rem;
  background: #ffc155;
}

.about__image {
  height: 100%;
  background-image: url("../../assets/img/aboutImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about__info {
  margin: 9.6875rem 3.125rem 0 5rem;
  max-width: 31.5625rem;
  min-width: 18.75rem;
}

.about__title {
  margin: 0;
  font-family: "Gotham Black", sans-serif;
  color: #ffffff;
  font-size: 1.875rem;
}

.about__description {
  margin: 0.9375rem 0 0 0;
  font-family: "Open Sans Regular", sans-serif;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.5rem;
}

.about__button {
  @extend %button-template;
  margin-top: 1.875rem;
  width: 9rem;
  height: 2.875rem;
  border: 1px solid #e7ad48;
  cursor: pointer;
  background-color: transparent;
}

.about__button:hover {
  border:1px solid #e3a230;
}