@import "../../assets/fonts";


.header {
  border-top: 1px solid #ffffff;
  height: 95px;
  background-color: #ffffff;
  position: relative;
}

.nav-wrapper {
  width: 850px;
  position: absolute;
  top: 30px;
  right: 185px;
}

.nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
}

.nav__item {
  list-style-type: none;
  text-align: center;
  padding: 9px 0 9px 0;
  align-self: center;
}

.nav__item:hover {
  background-color: #ffbb42;
  color: #868686;
  cursor: pointer;
}

.nav__item:hover a {
  color: #ffffff;
}

.nav__item a {
  text-decoration: none;
  color: #868686;
  font-family: "Lato", sans-serif;
  font-size: 13.5px;
}

.site-logo {
  margin: 21px auto 0 18%;
  height: 50px;
  width: 50px;
  background-image: url("../../assets/img/siteLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
