@import "../../assets/sundries";


.header {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 5.9375rem;
  background-color: #ffffff;
  align-items: center;
}

.top-nav {
  width: 52rem;
  margin: 0 0 0 6%;
  padding: 0;
  align-self: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
}

.top-nav__item {
  list-style-type: none;
}

.top-nav__item a {
  display: block;
  padding: 0.5625rem 1.3125rem;
  text-decoration: none;
  color: #868686;
  font-family: "Lato", sans-serif;
  font-size: 0.8437em;
}

.top-nav__item:hover {
  background-color: #ffbb42;
  cursor: pointer;
}

.top-nav__item:hover a {
  color: #ffffff;
}

.site-logo {
  margin-left: 1rem;
  justify-self: center;
  height: 3.125rem;
  width: 3.125rem;
  background-image: url("../../assets/img/siteLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
