@import "../../assets/sundries";

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 2.875rem;
  background-color: #709dca;
  font-size: 0.8125rem;
  color: #ffffff;
  font-family: "Open Sans Regular", sans-serif;
}