@media all and (max-width: 1350px) {
  .header {
    grid-template-columns: 0.3fr 1fr;
  }
}
@media all and (max-width: 1191px) {
  html {
    font-size: 90%;
  }
}
@media all and (max-width: 1191px) {
  html {
    font-size: 90%;
  }
}
@media all and (max-width: 1072px) {
  html {
    font-size: 80%;
  }

  body {
    font-size: 14px;
  }

  .header {
    grid-template-columns: 0.15fr 1fr;
  }

  .top-nav {
    width: 55rem;
  }
}
@media all and (max-width: 955px) {
  html {
    font-size: 70%;
  }

  body {
    font-size: 13px;
  }

  .services {
    height: 60rem;
  }

  .plan__accounts, .plan__support, .plan__cloud {
    width: 150%;
  }

  .top-nav {
    width: 58rem;
  }
}
@media all and (max-width: 837px) {
  html {
    font-size: 60%;
  }

  .header {
    grid-template-columns: 0.1fr 1fr;
  }

  .top-nav {
    width: 64rem;
  }

  .switch-buttons {
    margin-top: 9%;
  }

  .services {
    height: 68rem;
  }

  .about {
    height: 42rem;
  }

  .plan__accounts, .plan__support, .plan__cloud {
    width: 140%;
  }

  .bubble {
    height: 20rem;
    width: 19.5rem;
  }

  .site-logo-2 {
    height: 3.5rem;
    width: 3.5rem;
  }

  .happy-clients {
    height: 63rem;
  }

  .quotes {
    grid-template-rows: 20rem 20rem;
  }
}
@media all and (max-width: 727px) {
  html {
    font-size: 50%;
  }

  .site-logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .header {
    grid-template-columns: 0.5fr 1fr;
  }

  .top-nav {
    width: 74rem;
  }

  .form__button-wrapper {
    width: 17.5625rem;
    height: 3.1rem;
  }

  .boost__form {
    width: 73rem;
  }

  .form__full-name, .form__email, .form__phone-number {
    height: 3.1rem;
  }

  .services {
    height: 80rem;
  }

  .switch-buttons {
    margin-top: 10%;
  }

  .services-item__img {
    width: 6rem;
  }

  .services-item__info-wrapper {
    width: 29rem;
  }

  .about {
    height: 50rem;
  }

  .about__button {
    width: 11rem;
    height: 3.5rem;
  }

  .plan__accounts, .plan__support, .plan__cloud {
    width: 115%;
  }

  .plan__button {
    height: 3rem;
    width: 11rem;
  }

  .premium-plan {
    height: 33rem;
  }

  .basic-plan, .gold-plan {
    height: 30rem;
  }

  .how-it-works {
    height: 60rem;
  }

  .get-start-button {
    height: 3.3rem;
    width: 13rem;
  }

  .quotes {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .happy-clients {
    justify-content: stretch;
  }

  .quote-wrapper {
    margin-bottom: 2.875rem;
    margin-right: 1.5rem;
  }

  .quote {
    width: auto;
    margin-left: 2.5rem;
  }

  .happy-clients, .services, .choose-price, .how-it-works {
    height: auto;
    min-height: 100%;
    padding-bottom: 7rem;
  }

  .bubble {
    height: 24rem;
    width: 23rem;
  }

  .site-logo-2 {
    height: 4rem;
    width: 4rem;
  }

  .subscribe__name, .subscribe__email, .subscribe__button-wrapper {
    height: 3.1rem;
  }
}
@media all and (max-width: 675px) {
  .top-nav {
    width: 69rem;
    font-size: 12px;
  }

  header {
    display: none;
  }

  .boost__form {
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: 1em 1em;
    width: auto;
  }

  .form__full-name, .form__email, .form__phone-number {
    height: 3.5em;
    width: 21em;
  }

  .form__button-wrapper {
    height: 3.285715em;
    width: 19.5em;
  }

  .laptop {
    width: 50rem;
    height: 30rem;
  }

  .switch-buttons {
    margin-top: 34%;
    width: 6em;
  }

  .services__services-items {
    margin-top: 3rem;
    grid-template-columns: 1fr;
    justify-content: left;
    justify-items: left;
  }

  .services-item {
    margin-left: 10%;
  }

  .services-item__info-wrapper {
    width: 43rem;
  }

  .services-item__img {
    width: 8rem;
  }

  .about {
    grid-template-columns: 0.3fr 1fr;
  }

  .about__info {
    justify-self: center;
    max-width: 40rem;
  }

  .price-plans {
    grid-auto-flow: row;
    grid-row-gap: 1em;
  }

  .basic-plan, .premium-plan, .gold-plan {
    width: 30rem;
    border: none;
  }

  .steps {
    width: auto;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: 7% 25%;
  }

  .step__image-wrapper {
    height: 8rem;
  }

  .step {
    width: 12em;
  }

  .step__arrow {
    display: none;
  }

  .get-start-button {
    margin-top: 10rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
