$orange-color: #ffbb42;

.boost {
  position: relative;
  background-color: #709dca;
  height: 590px;
  display: grid;
  justify-items: center;
  align-items: start;
  align-content: start;
}

.local-business {
  display: block;
  margin: 100px 0 0 0;
  font-family: "Gotham Black", sans-serif;
  font-size: 35px;
  color: #ffffff;
}

.local-business-title {
  margin: 2px 0 0 0;
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #ffffff;
}

.form__full-name-wrapper, .form__email-wrapper, .form__phone-number-wrapper{
  position: relative;
}

.boost__form .form__input-error {
  position: absolute;
  top: -1rem;
  left: 0rem;
  width: 15rem;
  font-size: 0.9rem;
  color: rgb(233, 97, 97);
}

.boost__form-wrapper {
  margin-top: 33px;
}

.boost__form {
  width: 1085px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.form__button {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}

.form__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 211px;
  background-color: $orange-color;
  border-radius: 0.15rem;
  font-family: "Open Sans Regular", sans-serif;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.form__full-name, .form__email, .form__phone-number {
  height: 46px;
  width: 281px;
  border-radius: 0.15rem;
  border: none;
  box-sizing: border-box;
  font-family: "Open Sans Regular", sans-serif;
  outline: none;
  padding-left: 40px;
  font-size: 13px;
}

.awesome-icon-wrapper {
  position: absolute;
  margin-left: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.laptop-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  width: 1rem;
  height: 1rem;
}

.laptop {
  position: absolute;
  width: 645px;
  height: 345px;
  background-image: url("../../assets/img/laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.switch-buttons {
  width: 63px;
  background: black;
  height: 10px;
  z-index: 100;
}