@font-face {
  font-family: "Lato";
  src: url("assets/fonts/lato regular.ttf") format("ttf");
}
@font-face {
  font-family: "Gotham Black";
  src: url("assets/fonts/gothamBlack.otf") format("otf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("assets/fonts/Open Sans Light.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("assets/fonts/Open Sans.ttf") format("ttf");
}


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: rgb(242, 242, 242);
}

#root {
  max-width: 1700px;
  margin: auto;
}