@import "../../assets/sundries";

.happy-clients {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  justify-content: center;
  justify-items: center;
  height: 56.875rem;
  background-color: #ffc155;
}

.happy-clients__title-1 {
  margin: 8.75rem 0 0 0;
  font-family: "Gotham Black", sans-serif;
  font-size: 1.875rem;
  color: #ffffff;
  line-height: 80%;
}

.happy-clients__title-2 {
  margin: 0.625rem 0 0 0;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #ffffff;
  line-height: 80%;
}

.quotes {
  display: grid;
  grid-template-columns: 35.4375rem 35.4375rem;
  grid-template-rows: 15.0625rem 15.0625rem;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 3.8125rem;
  width: 73.375rem;
  height: 31.375rem;
}

.quote-wrapper {
  margin-top: 2.875rem;
  margin-left: 0.625rem;
}

.quote-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  background-color: #ffffff;
  border-radius: 0.2rem;
}

.quote-hooks-1, .quote-hooks-2  {
  font-family: "Ubuntu Mono Bold", sans-serif;
  font-size: 1.875rem;
  color: #7b7b7b;
}

.quote-hooks-1 {
  float: left;
}

.quote {
  margin-left: 1.5rem;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 0.8125rem;
  color: #7b7b7b;
  line-height: 1.375rem;
  width: 21.5625rem;
}

.quote-avatar {
  height: 7.6875rem;
  width: 7.6875rem;
  margin-left: 1.875rem;
  margin-top: 2.875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.quote-owner {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #99a9ae;
}

.quote-owner__name {
  color: #f6772c;
}